<li id="post-<%= post._id %>">
    <p>
        <%= post.content %>
        <!-- if user is logged in and post is created by signed in user  -->
        <% if(locals.user && locals.user.id == post.user.id){ %>
        <a class="delete-post-button" href="posts/delete/<%= post.id %>">X</a>
        <% } %>
        <br>
        <small>-- <%= post.user.name %> </small>
    </p>
    <div class="post-comments">
        <% if(locals.user){ %>
        <form id="post-<%= post._id %>-comments-form" action="/comments/create-comment" method="post">
            <input type="text" name="content" id="comment-field" placeholder="Type here to add comment...">
            <!-- Assigning Post id to the comment -->
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="Add Comment">
        </form>
        <% } %>
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for(comment of post.comments ){ %>
    
                <%- include('_comment') -%>
    
                <% } %>
            </ul>
        </div>
    </div>
    <hr>
</li>

 